*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# GRADLE STUFF

/build
/.gradle
/.idea
/gradle
gradlew
gradlew.bat
/src/test

# C stuff
src/main/C/Lexer/.vs/
src/main/C/Lexer/Debug/
src/main/C/Lexer/Lexer.sln
src/main/C/Lexer/Lexer/Debug/
src/main/C/Lexer/Lexer/Lexer.vcxproj
src/main/C/Lexer/Lexer/Lexer.vcxproj.filters
src/main/C/Lexer/Lexer/Release/
src/main/C/Lexer/Lexer/output.txt
src/main/C/Lexer/Lexer/x64/
src/main/C/Lexer/Release/
src/main/C/Lexer/x64/


# C++ stuff

src/main/C++/Lexer/.vs
src/main/C++/Lexer/Debug
src/main/C++/Lexer/Lexer.sln
src/main/C++/Lexer/Lexer/Debug
src/main/C++/Lexer/Lexer/Lexer.vcxproj
src/main/C++/Lexer/Lexer/Lexer.vcxproj.filters




# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

